.baseModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 2px solid #000;
  background-color: #ffff;
  box-shadow: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
